
/*深色版；1*/

.theme2 {
  // 滚动条
  ::-webkit-scrollbar-track{
    background: $background-color-theme-dark !important;
  }

  // 通用/组件部分
  .det-heading{
    background: $background-color-theme-dark !important;
  }
  .dhi-title{
    color: $color-white-dark !important;
  }
  .dhi-ul li{
    color: $color-white-dark !important;
  }
  .dhi-ul li span{
    color: $font-color-themesec-dark !important;    
  }
  .lsearch-input{
    background: $input-bg-color-dark !important;
    border: 1px solid $input-bg-color-dark !important;
    color: $color-white-dark !important;
  }
  .lsearch-submit{
    background-color: #313339 !important;
  }
  .code-clear{
    background-color: #313339 !important;    
  }


  // 监测异常详情1
  .det-warn,#DetWarnListComp{
    background: $background-color-theme-dark !important;
  }
  .det-warn-title-h{
    color: $color-white-dark !important;
  }
  .back-realtime{
    color: $font-color-themesec-dark !important;
  }
  .dw-list-box-wrap{
    border-bottom: 1px dashed $border-color-dark !important;
  }
  .dwlb-p h4{
    color: $font-color-theme-dark !important;
  }
  .dwlb-p p{
    color: $font-color-themesec-dark !important;
  }
  .dwlb-rate{
    color: $font-color-theme-dark !important;
  }
  .dwlb-rate.no-deal{
    color: #fa4f43 !important;
  }
  .det-mid-diagnose,.diagnose-item{
    background: $background-color-theme-dark !important;
  }
  .didt-h3{
    color: $font-color-theme-dark !important;
  }
  .diagnose-item-detail{
    border-bottom: 1px dashed $border-color-dark !important;
  }
  .didt-date,.diagnose-item-detail-p{
    color: $font-color-themesec-dark !important;
  }
  .dcc-type-block{
    background: $input-bg-color-dark !important;
  }
  .dccb-data-p1{
    color: $font-color-theme-dark !important;
  }
  .dccb-data-p1 span{
    color: $font-color-theme-dark !important;
  }
  .dccb-data-p2{
    color: $font-color-themesec-dark !important;
  }
  .diagnose-item-subTitle-p{
    color: $font-color-theme-dark !important;    
  }
  .diagnose-item-subTitle-span{
    background: $input-bg-color-dark !important;
    color: $font-color-themesec-dark !important;
  }
  .dnRunning-box-p{
    color: $color-white-dark !important;        
  }
  .dnStat-top-li-title{
    color: $font-color-themesec-dark !important;
  }
  .dnStat-top-li-p{
    color: $font-color-theme-dark !important;    
  }
  .dnStat-bot-box-title{
    color: $font-color-themesec-dark !important;
  }
  .dnStat-bot-box-data{
    color: $font-color-theme-dark !important;        
  }
  .dnStat-bot-box-per{
    color: $font-color-theme-dark !important;            
  }
  .det-right,#DetChartComp{
    background: $background-color-theme-dark !important;
  }
  .det-ca-menu{
    background-image: linear-gradient(90deg, #26282E 9%, #1E2024 81%, #191919 100%) !important;
  }
  .detcm-box-p{
    color: $font-color-themesec-dark !important;
  }
  .dcc-item-title{
    color: $font-color-theme-dark !important;            
  }
  .det-mid-log{
    background: $background-color-theme-dark !important;
  }
  .dm-go-detail{
    color: $font-color-themesec-dark !important;
  }
  .det-mid-log .det-warn-title{
    border-bottom: 1px solid $border-color-dark !important;
  }
  .det-warn-choose{
    background: rgba(255,255,255,0.03) !important;
  }
  .dwc-box .el-range-input{
    background: none !important;
    color: $font-color-theme-dark !important;            
  }
  .dwc-box .el-date-editor .el-range-separator{
    color: $font-color-theme-dark !important;
    line-height 24px !important;                
  }
  .dwc-box .el-input__inner{
    border: none !important;
  }
  .dwc-box .el-input__inner::-webkit-input-placeholder,.dwc-box .el-range-input::-webkit-input-placeholder {
    color: $font-color-themetri-dark !important;
  }
  .dm-log-list .dmll-td{
    color: $font-color-themesec-dark !important;
  }
  .dm-log-list .dmll-td:nth-child(1){
    color: $font-color-theme-dark !important;
  }
  .dm-log-list:hover{
    background: rgba(159,185,247,0.10) !important;
  }
  .dnStat-top{
    border-bottom: 1px dashed $border-color-dark !important;
  }
  .dispatch-item-li-label{
    color: $font-color-theme-dark !important;
  }
  .dispatchIL-elevDetail-title{
    color: $font-color-theme-dark !important;
  }
  .dispatchIL-elevDetail-box-h{
    color: $font-color-themesec-dark !important;
  }
  .dispatchIL-elevDetail-box-p{
    color: $font-color-theme-dark !important;
  }
  .dispatch-staff-box{
    background: $dialog-header-dark !important;
  }
  .dstaff-box-name{
    color: $font-color-theme-dark !important;
  }
  .dstaff-box-department{
    color: $font-color-theme-dark !important;
  }
  .dstaff-box-phone{
    color: $font-color-theme-dark !important;
  }
  .dealResult-name{
    color: $font-color-themesec-dark !important;
  }
  .dealResult-p{
    color: $font-color-theme-dark !important;
  }
  .lift-list{
    background: $background-color-theme-dark !important;
  }
  .lift-list-title{
    color: $font-color-theme-dark !important;
    border-bottom: 1px solid $border-color-dark !important;
  }
  .lift-detail-operate-btn{
    border: 1px solid $border-color-dark !important;
    color: $font-color-theme-dark !important;
  }
  .ll-table{
    border-top: 10px solid rgba(26,27,31,0.40) !important;
  }
  .llt-thead{
    background: rgba(255,255,255,0.03) !important;
  }
  .llt-th{
    color: $font-color-theme-dark !important;
  }
  .llt-td{
    color: $font-color-theme-dark !important;
  }
  .llt-tbody .llt-tr{
    border-bottom: 1px solid $border-color-dark !important;
  }
  .llt-td-line{
    color: $font-color-themetri-dark !important;
  }
  .llcb-operate .llcb-btn{
    color: $font-color-theme-dark !important;
  }
  .llct-type em{
    color: $font-color-theme-dark !important;
  }
  .ll-choose-bottom{
    border-top: 1px dashed $border-color-dark !important;
  }
  .lift-error-type{
    background: $background-color-theme-dark !important;
  }
  .let-box-simple h4{
    color: $font-color-theme-dark !important;
  }
  .let-box-simple p{
    color: $font-color-theme-dark !important;
  }
  .let-box-line{
    background: $border-color-dark !important;
  }
  .let-box:hover{
    box-shadow: 0 4px 16px -2px #191919 !important;
  }
  .lift-error-man{
    background: $background-color-theme-dark !important;
    border-left: 1px solid $border-color-dark !important;
  }
  .lbd-right p{
    color: $font-color-themesec-dark !important;
  }
  .lbd-right p span{
    color: $font-color-theme-dark !important;
  }
  .les-box-top-data{
    color: $font-color-themesec-dark !important;
  }
  .les-box-top-data span{
    color: $font-color-theme-dark !important;
  }
  .lift-error-man .les-box-top{
    border-bottom: 1px dashed $border-color-dark !important;
  }
  .lift-error-man .les-box-bottom p{
    color: $font-color-themesec-dark !important;
  }
  .llcb-btn{
    border: 1px solid $border-color-dark !important;
  }
  .lift-add-search{
    background: $background-color-theme-dark !important;
  }
  .la-result{
    background: $background-color-theme-dark !important;
  }
  .lar-nodata-p h4{
    color: $font-color-theme-dark !important;
  }
  .lar-nodata-p p{
    color: $font-color-themesec-dark !important;
  }
  .lar-item-title{
    border-bottom: 1px dashed $border-color-dark !important;
  }
  .form-btn{
    border-top: 1px solid $border-color-dark !important;
  }
  .floors-split{
    color: $font-color-themesec-dark !important;
  }
  .lar-box h4{
    color: $font-color-theme-dark !important;
  }
  .el-form-item.is-error .el-input__inner{
    border-color: #f56c6c !important;
  }
  .el-form-item.is-success .el-input__inner{
    border-color: #67c23a !important;
  }
  .lift-detail-nav{
    background-image: linear-gradient(90deg, #26282E 0%, #1E2024 80%, #191919 100%) !important;
  }
    
}